@import "bootstrap";
@import "bootstrap/theme";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.ui.all
 */
#sidebar_img {
  width: 100%;
}

#icon {
  height: 44px;
  width: 44px;
  float: left;
  margin-left: 41%;
  margin-top: 17px;
}

body {
  font-family: "TisaPro";
}

body.modal-open {
  margin-right: 0px !important;
}

#root_header {
  font-family: "Adelle";
  font-weight: 100;
  font-style: normal;
  margin-left: 46%;
  margin-top: 25px;
  padding-bottom: 15px;
}

.account {
  margin-top: 26px;
}
.account a {
 color: #aaaaaa !important;
 font-size: 16px;
 font-family: "AdelleSans";
 font-weight: 100; 
}

#create_acct {
  margin-left: 50px;
  padding-right: 30px;
}

#navbar_row {
  background-color: #222222;
  color: #ffffff;
}

#root_main {
  height: 500px;
  background-color: #ffffff;
  vertical-align: middle;
}

#root_main_right {
  padding-top: 160px;
  padding-left: 80px;
  h3 {
    font-size: 24px;
    font-family: "AdelleSans";
    font-weight: 100; 
    width: 400px;
    line-height: 35px;
    margin-top: 5px;
  }
  a {
    color: #aaaaaa !important;
    font-size: 16px;
    font-family: "AdelleSans";
    font-weight: 100; 
  }
}

#root_main_right a {
  color: #ffffff !important;
}

#root_tutorial {
  height: 250px;
  font-family: "AdelleSans";
  padding-top: 20px;
  margin-bottom: 70px;
}

.glyphicon.root {
  color: #000000;
  font-size: 30px;
  float: left;
  margin-right: 12px;
  + h3 {
    padding-top: 5px;
  }
}

.glyphicon.root h3 {
  float: left;
  font-size: 18px;
}

#root_tutorial p {
  padding-top: 20px;
  font-size: 15px;
}

#root_tutorial h2 {
  padding-bottom: 5px;
}


.inner {
  padding-top: 56px;
}

#demo_form {
  display: none;
}

.root_form {
  font-family: "AdelleSans";
  font-weight: 100;
  label {
    font-family: "AdelleSans";
    font-weight: 100;
    font-size: 14px;
    padding-bottom: 20px;
    padding-right: 10px;
  };
  .email_label {
    padding-left: 29px;
  }
  input[type="submit"] {
    font-size: 16px;
  }
  input:not([type="submit"]) {
    width: 50%;
  }
}

#error_sign_in, #error_create_account {
  font-family: "AdelleSans";
}

.whole_container {
  width: 100%;
  background-color: #ffffff;
  padding-top: 3%;
  padding-bottom: 8%;
  .container {
    width: 40%;
  }
}

.root_footer {
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  height: 70px;
  line-height: 70px;
  bottom: 0px;
  text-align: center;
}


.footer {
  width: 100%;
  background-color: #dddddd;
  position: absolute;
  height: 70px;
  line-height: 70px;
  bottom: 0px;
  text-align: center;
}

/* ------------- */

#sidebar {
  font-family: "SourceSansPro";
  font-weight: lighter;
}

.side_title {
  color: #5a5a5a;
  font-size: 14px;
  padding-left: 20px;
}

.side_item, span.glyphicon {
  color: #999999;
  font-weight: 100;
}

span.glyphicon {
  margin-right: 20px;
}

.side_row {
  height: 45px;
  padding-left: 20px;
  padding-top: 8px;
  font-weight: 100;
}

.side_row a {
  padding-top: 10px;
  font-weight: lighter;
}

#unread_row {
  font-weight: lighter;
}

ul {
  list-style-type: none;
  padding: 0;
}


li {
  list-style: none;
  width: 100%;
  height: 58px;
}

.heartToggle {
  color: #c10000 !important;
}

html, body, .container-fluid, .row-fluid, .col-md-2, .col-md-10, .col-md-9, .col-md-3 { height: 100%;}

.row {
  margin-left: 0px;
  margin-right: 0px;
  height: 100%;
}

// to have the entire column be a clickable link
.clickable_bookmark {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-left: 20px;
  
  z-index: 1;
}


#sidebar {
  background-color: #222222;
  padding-left: 0px;  padding-left: 0px;
  padding-right: 0px;
  padding-right: 0px;
  font-size: 19px;
  
  border-right-style: solid;
  border-right-color: #CFD1D1;
  border-right-width: 1px;
  a {
    text-decoration: none;
  }
}

#side_column_main {
  background-color: #222222;
  height: 470px;
}

#side_column_nav {
  background-color: #1b1b1b;
}

#content {
  background-color: #DDDDDD;
  font-size: 19px;
  padding-left: 0px;
  padding-right: 0px;
  a {
    color: #000000;
    text-decoration: none;
  }
}

.bookmark {
  height: 58px;
  line-height: 58px;
  position: relative;
}
.page_type {
  background-color: #FFFFFF;
}

#empty_list {
  height: 116px;
  line-height: 116px;
  position: relative;
  font-family: "SourceSansPro";
  text-align: center;
  font-weight: lighter;
  font-size: 17px;
  color: #666666;
  background-color: #FFFFFF;
  border-bottom-style: solid;
  border-bottom-color: #CFD1D1;
  border-bottom-width: 1px;
}

.bookmark_row {
  background-color: #FFFFFF;
  border-top-style: solid;
  border-top-color: #CFD1D1;
  border-top-width: 1px;
}


.page_type {
  height: 58px;
  line-height: 58px;
  position: relative;
  padding-left: 20px;
  font-family: "SourceSansPro";
  font-weight: bold;
}

.col-md-12 {
  padding: 0px;
}

#paginate_container {
  float: right;
  text-align: center;
  margin-right: 50px;
  width: 110px;
}

.paginator {
  width: 55px;
  text-align: center;
}

#paginator_forward {
  width: 55px;
}

#paginator_backward {
  width: 55px;
}

.paginator_glyph {
  margin-left: auto;
  margin-right: auto;
}



/* --- Edit --- */

#instructions_outer #edit_div {
  height: 600px;
  width: 800px;
  background-color: #ffffff;
  > h3 {
    padding-bottom: 20px;
  }
}

#edit_bookmark_form {
  input:not([type="submit"]) {
    width: 600px;
  }
  > label {
    padding-bottom: 15px;
  }
  > textarea {
    width: 600px;
    height: 50px;
  }
  input[type="submit"] {
    margin-top: 30px;
    margin-left: 90px;
  }
}

.edit_bookmark_label {
  padding-right: 10px;
  padding-left: 40px;
}

#summary_label {
  padding-right: 10px;
}


/* ------ */

#instructions_outer {
  background-color: #ffffff;
  padding-left: 20px;
  border-top: 1px solid #cfd1d1;
}

#instructions_outer div {
  width: 560px;
  font-family: "AdelleSans";
  font-size: 17px;
  p {
    padding-top: 20px;
    padding-bottom: 15px;
  }
  a {
    color: #ffffff;
    font-weight: 200;
    + p {
      padding-bottom: 50px;
    }
  }
}

#bookmarklet {
  cursor: -webkit-grab; cursor: -moz-grab;
}

/* -------*/


@font-face {
  font-family: 'Adelle';
  src: font-url('Adelle-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Adelle';
  src: font-url('Adelle-Light.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'AdelleSans';
  src: font-url('AdelleSans-Light.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'AdelleSans';
  src: font-url('AdelleSans-Thin.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'AdelleSans';
  src: font-url('AdelleSans-SemiBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TisaPro';
  src: font-url('TisaPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

// bold
@font-face {
  font-family: 'TisaPro';
  src: font-url('TisaPro-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

// italic
@font-face {
  font-family: 'TisaPro';
  src: font-url('TisaPro-Ita.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SourceSansPro';
  src: font-url('SourceSansPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro';
  src: font-url('SourceSansPro-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro';
  src: font-url('SourceSansPro-Light.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}
